<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Born</th>
      <th>Died</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= link_to artist.name, artist %></td>
        <td><%= artist.born %></td>
        <td><%= artist.died %></td>
        <td>
          <% if can? :update, artist %>
            <%= link_to 'Edit', edit_artist_path(artist) %>
          <% end %>
        </td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artist', new_artist_path %>
