<div class="galleryItem galleryArtwork mock" id="artwork_item_<%= artwork.id %>">
  <div class="content">
    <div class="id"><%= artwork.id %></div>
    <div class="handle"></div>

    <h2><%= link_to artwork.title, artwork %></h2>

    <p>
      <strong>Year:</strong>
      <%= artwork.year %>
    </p>

    <%= image_tag artwork.image %>

    <%#= link_to 'Edit', edit_artwork_path(artwork) %>
    <%#= link_to 'Destroy', exhibition, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
  </div>

  <div class="separator">
    <%= render 'annotations/new_link' %>
  </div>
</div>
