<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= Artist.find(@artwork.artist_id).name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @artwork.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @artwork.year %>
</p>

<div>
  <%= image_tag @artwork.image %>
</div>

<% if can? :update, Artwork %>
  <%= link_to 'Edit', edit_artwork_path(@artwork) %>
<% end %>
