<section class="galleryWrapper" style="<%= 'background-color: #' + @gallery.background %>">
  <header>
    <h1>
      <%= @gallery.title %>
    </h1>

    <% if can? :show, Gallery %>
      <%= link_to 'Show', gallery_path(@gallery), class: 'editButton' %>
    <% end %>
  </header>

  <section class="galleryContainer" data-update-url="<%= sort_gallery_annotations_url(@gallery) %>">
    <!-- <div class="galleryAnnotation" id="galleryAnnotation_new"> -->
      <%#= render 'annotations/new_link' %>
    <!-- </div> -->

    <% @gallery.annotations.order('position').each do |annotation| %>
      <%= render 'annotations/show', annotation: annotation, gallery_template: 'edit' %>
    <% end %>

    <% @gallery.artworks.each do |artwork| %>
      <%= render 'artworks/show', artwork: artwork %>
    <% end %>
  </section>

</section>




<h1>Editing Gallery</h1>

<%= render 'form', gallery: @gallery %>

<%= link_to 'Show', @gallery %> |
<%= link_to 'Back', galleries_path %>
