<p id="notice"><%= notice %></p>

<h1>Galleries</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Teaser</th>
      <th>Background</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @galleries.each do |gallery| %>
      <tr>
        <td><%= link_to gallery.title, gallery %></td>
        <td><%= gallery.teaser %></td>
        <td><%= gallery.background %></td>

        <td>
          <% if can? :update, gallery %>
            <%= link_to 'Edit', edit_gallery_path(gallery) %>
          <% end %>
        </td>

        <td>
          <% if can? :destroy, gallery %>
            <%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Gallery %>
  <%= link_to 'New Gallery', new_gallery_path %>
<% end %>
