<section class="galleryWrapper" style="<%= 'background-color: #' + @gallery.background %>">
  <header>
    <h1>
      <%= @gallery.title %>
    </h1>

    <% if can? :manage, @gallery %>
      <%= link_to 'Edit', edit_gallery_path(@gallery), class: 'editButton' %>
    <% end %>
  </header>

  <section class="galleryContainer">
    <% @gallery.annotations.order('position').each do |annotation| %>
      <%= render 'annotations/show', annotation: annotation, gallery_template: 'show' %>
    <% end %>

    <% @gallery.artworks.each do |artwork| %>
      <%= render 'artworks/show', artwork: artwork %>
    <% end %>
  </section>

</section>
