<!DOCTYPE html>
<html>
  <head>
    <title>HSEMuseum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Artists',  artists_url %>
      <%= link_to 'Artworks', artworks_url %>
    </nav>

    <%= yield %>
  </body>
</html>
